<%include ../header%>
    <link rel="stylesheet" href="/stylesheets/top.css">
    </head>

    <body>
        <div style="border: 1px solid black;">
            <h3>Xin chào mừng bạn đến với hệ thống quản lý admin</h3>
            <h4>Hướng dẫn sử dụng trang web</h4>
            <h5>Quản lý người dùng bao gồm</h5>
            <ul>
                <li>Quản lý admin</li>
                <li>Quản lý người dùng</li>
            </ul>
            <h5>Quản lý dữ liệu bao gồm</h5>
            <ul>
                <li>Quản lý quy chuẩn</li>
                <li>Quản lý tiêu chuẩn</li>
                <li>Quản lý tin tức</li>
                <li>Quản lý thông báo</li>
                <li>Quản lý dự thảo</li>
                <li>Quản lý giới thiệu</li>
            </ul>
            <p>Trong mỗi mục quản lý bao gồm các chức năng thêm / sửa / xóa dữ liệu trên cơ sở dữ liệu</p>
        </div>
    </body>