<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="Shortcut Icon" href="images/105720q5xxhcnnqtztnsbs.png">
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>Trang chủ Admin</title>
    <!-- InstanceEndEditable -->
    <!-- Danh sách các file css -->
    <link rel="stylesheet" type="text/css" href="stylesheets/test/style.css"/>
    <link rel="stylesheet" type="text/css" href="stylesheets/test/menubar.css"/>
    <!-- Danh sách các file javascripts -->
    <!-- InstanceBeginEditable name="head" -->
    <!-- InstanceEndEditable -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/test/style_menu_doc.css">
    <link href="https://code.jquery.com/ui/1.10.3/themes/redmond/jquery-ui.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="main">
        <img src="images/trangchu/banner_TCQC.png" width="960" height="118" style="margin-bottom:1px;"/>

        <!--    Begin of Main Menu bar -->
        <%include ./trangchu/menubar%>
        <%include ./trangchu/secondMenu%>
        <!--    End of Main Menu bar -->

        <!-- main Content  --><!-- InstanceBeginEditable name="Noidung" -->
        <div class = "Content" style="width:1300px; margin-left:-170px">
            </br></br>
            <div id="menu_doc" style="width:250px; height:1000px; float:left;margin-right:5px;"> 
                <ul>
                    <li>
                        <a href="#" class="chose">Quản lý người dùng</a>
                        <div class="sign">+</div>
                        <ul class="child">
                            <li id="admin"><a>Admin</a></li>
                            <li id="nguoidung"><a>Người dùng</a></li>
                        </ul>
                    </li>
                    <li><a href="#" class="chose">Quản lý dữ liệu</a>
                        <div class="sign">+</div>
                        <ul class="child">
                            <li id="quychuan"><a href="#">Quy chuẩn VN</a></li>
                            <li id="tieuchuan"><a href="#">Tiêu chuẩn VN</a></li>
                            <li id="tintuc"><a href="#">Tin tức</a></li>
                            <li id="thongbao"><a href="#">Thông báo</a></li>
                            <li id="duthao"><a href="#">Dự thảo</a></li>
                            <li id="gioithieu"><a href="#">Giới thiệu</a></li>
                        </ul>
                    </li>
                    <li><a href="/admin/huongdansudungadmin/xem" class="chose">Hướng dẫn sử dụng</a>
                    </li>
                </ul>
            </div>
            <script type="text/javascript">
                $("#menu_doc .sign").click(
                        function(){
                            if($(this).next(".child").css('display')=='none'){

                                //Cài đặt cho tất cả child đều ẩn hết và tất cả sign trở về dấu cộng
                                $("#menu_doc .child").slideUp();
                                $("#menu_doc .sign").html('+');

                                //sau đó hiện đúng chỗ vừa click và đổi dấu lại
                                $(this).next(".child").slideDown();
                                $(this).html('-');
                            }
                            else {
                                $(this).next(".child").slideUp();
                                $(this).html('+');
                            }
                        }
                    );
            </script>
            <div style="width:1040px;  height:1000px;float:left; border-style:groove; border-width:thin; margin-left:5px;">
                    <iframe src="/admin/huongdansudungadmin/xem" id="iframe" width="100%" height="1000px" frameborder="0px"></iframe>
            </div>
                <script src="https://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
                <script src="javascripts/admin/jquery.dataTables.min.js"></script>
                <script src="javascripts/admin/dataTables.bootstrap.js"></script>
                <script src="javascripts/admin/tables.js"></script>
                <script src="javascripts/admin/admin.js"></script>
                <script type="text/javascript">
                    $("#menu_doc .chose").click(
                        function(){
                            var id = (this).href;

                            var i = id.lastIndexOf("#");

                            id = id.slice(i);

                            var element = "#list_table " + id;

                            if($(element).css('display') == 'none'){

                                $("#list_table .table_child").slideUp();

                                $(element).slideDown();
                            } else{
                                $(element).slideUp();
                            }
                        }
                    );
                </script>
            </div>
            

        </div>
    </div>
</body>
</html>