<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="Shortcut Icon" href="images/105720q5xxhcnnqtztnsbs.png">
	<!-- InstanceBeginEditable name="doctitle" -->
	<title>Trang chủ Admin</title>
	<!-- InstanceEndEditable -->
	<!-- Danh sách các file css -->
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
	<link rel="stylesheet" type="text/css" href="css/menubar.css"/>
	<!-- Danh sách các file javascripts -->
	<!-- InstanceBeginEditable name="head" -->
	<!-- InstanceEndEditable -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="bootstrap/css2/bootstrap.min.css" />
	<script type="text/javascript" src="bootstrap/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="style.css">
	<link rel="stylesheet" type="text/css" href="bootstrap/fonts">
	<link rel="stylesheet" type="text/css" href="css/style_menu_doc.css">
</head>
<body>
	<div class="main">
		<img src="images/banner_TCQC.png" width="960" height="118" style="margin-bottom:1px;"/>

		<!--    Begin of Main Menu bar -->
    	<?php require 'html/menubar.html' ?>
    	<!--    End of Main Menu bar -->

    	<!-- main Content  --><!-- InstanceBeginEditable name="Noidung" -->
    	<div class = "Content">
			<h1 align="center" style="color:black">Chức năng của Admin</h1>
        	<div id="menu_doc" style="width:250px; height:1000px; float:left;margin-right:5px;"> 
        		<ul>
        			<li>
        				<a href="#">Admin</a>
        				<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 1.1</a></li>
        					<li><a href="#">Menu 1.2</a></li>
        					<li><a href="#">Menu 1.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Ảnh</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 2.1</a></li>
        					<li><a href="#">Menu 2.2</a></li>
        					<li><a href="#">Menu 2.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Bộ ngành</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 3.1</a></li>
        					<li><a href="#">Menu 3.2</a></li>
        					<li><a href="#">Menu 3.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Dự thảo</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 4.1</a></li>
        					<li><a href="#">Menu 4.2</a></li>
        					<li><a href="#">Menu 4.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Footer</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 5.1</a></li>
        					<li><a href="#">Menu 5.2</a></li>
        					<li><a href="#">Menu 5.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Giới thiệu</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 6.1</a></li>
        					<li><a href="#">Menu 6.2</a></li>
        					<li><a href="#">Menu 6.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Menu cấp 1</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 7.1</a></li>
        					<li><a href="#">Menu 7.2</a></li>
        					<li><a href="#">Menu 7.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Menu cấp 2</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 8.1</a></li>
        					<li><a href="#">Menu 8.2</a></li>
        					<li><a href="#">Menu 8.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Menu cấp 3</a>
						<div class="sign">+</div>
        				<ul class="child">
        					<li><a href="#">Menu 9.1</a></li>
        					<li><a href="#">Menu 9.2</a></li>
        					<li><a href="#">Menu 9.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Người dùng</a>
        				<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 10.1</a></li>
        					<li><a href="#">Menu 10.2</a></li>
        					<li><a href="#">Menu 10.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Quản trị</a>
        				<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 11.1</a></li>
        					<li><a href="#">Menu 11.2</a></li>
        					<li><a href="#">Menu 11.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Quy chuẩn</a>
        				<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 12.1</a></li>
        					<li><a href="#">Menu 12.2</a></li>
        					<li><a href="#">Menu 12.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Tags</a>
        				<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 13.1</a></li>
        					<li><a href="#">Menu 13.2</a></li>
        					<li><a href="#">Menu 13.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Tiêu chuẩn cấp 1</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 14.1</a></li>
        					<li><a href="#">Menu 14.2</a></li>
        					<li><a href="#">Menu 14.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Tiêu chuẩn cấp 2</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 15.1</a></li>
        					<li><a href="#">Menu 15.2</a></li>
        					<li><a href="#">Menu 15.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Tiêu chuẩn cơ sở</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 16.1</a></li>
        					<li><a href="#">Menu 16.2</a></li>
        					<li><a href="#">Menu 16.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Tiêu chuẩn nhà nước</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 17.1</a></li>
        					<li><a href="#">Menu 17.2</a></li>
        					<li><a href="#">Menu 17.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Tiêu chuẩn</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 18.1</a></li>
        					<li><a href="#">Menu 18.2</a></li>
        					<li><a href="#">Menu 18.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Tin tức</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 19.1</a></li>
        					<li><a href="#">Menu 19.2</a></li>
        					<li><a href="#">Menu 19.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Văn Bản</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 20.1</a></li>
        					<li><a href="#">Menu 20.2</a></li>
        					<li><a href="#">Menu 20.3</a></li>
        				</ul>
        			</li>
        			<li><a href="#">Văn bản quy phạm pháp luật</a>
						<div class="sign">+</div>
						<ul class="child">
        					<li><a href="#">Menu 21.1</a></li>
        					<li><a href="#">Menu 21.2</a></li>
        					<li><a href="#">Menu 21.3</a></li>
        				</ul>
        			</li>
        		</ul>
        	</div>
        	<script type="text/javascript">
        		$("#menu_doc .sign").click(
        				function(){
        					if($(this).next(".child").css('display')=='none'){

        						//Cài đặt cho tất cả child đều ẩn hết và tất cả sign trở về dấu cộng
        						$("#menu_doc .child").slideUp();
        						$("#menu_doc .sign").html('+');

        						//sau đó hiện đúng chỗ vừa click và đổi dấu lại
        						$(this).next(".child").slideDown();
        						$(this).html('-');
        					}
        					else {
        						$(this).next(".child").slideUp();
        						$(this).html('+');
        					}
        				}
        			);
        	</script>
        	<div style="width:690px;  height:1000px;float:left; border-style:groove; border-width:thin; margin-left:5px;"> 
        	</div>
        	

    	</div>
	</div>
</body>
</html>