<!DOCTYPE>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Tiêu chuẩn và quy chuẩn ngành xây dựng</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/test/style.css" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/test/menubar.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="main">
        <!-- main Content -->
        <!-- InstanceBeginEditable name="Noidung" -->
        <h3 class="text-center">Welcome Admin</h3>
        <div style="width: 80%; padding-left: 20%; padding-top: 5%; ">
            <form name="form" id="form" class="form-horizontal" method="post" accept-charset="utf-8">
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                    <input id="username" type="text" class="form-control" name="username" placeholder="Tên đăng nhập">
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="form-control" name="password" placeholder="Mật khẩu">
                </div>
                <br>
                <% if (message.length > 0) { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                    <%} %>
                    <br>
                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-sm-12 controls">
                                <button type="submit" href="#" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-log-in"></i> Đăng nhập</button>
                            </div>
                        </div>
            </form>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        <!-- InstanceEndEditable -->
        <!-- end of main Content  -->
    </div>
</body>

</html>