<div class ="Footer">
    <p>
    	<strong>CỔNG THÔNG TIN ĐIỆN TỬ TIÊU CHUẨN, QUY CHUẨN NGÀNH XÂY DỰNG </strong>
    	<br />
        Cơ quan chủ quản : Bộ Xây dựng 
        <br />
        <strong>Địa chỉ</strong>: 37 Lê Đại Hành - Hà Nội. Điện thoại: (84-4) 3821 5137-Email: ttth@moc.gov.vn
        <br />
        Giấy phép của Cục báo chí - Bộ Văn hóa Thông tin số: 80/CP-BC ngày 28/6/2005
    </p>
</div>