<%include ../header%>
<link rel="stylesheet" type="text/css" href="stylesheets/trangchu/style.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/trangchu/menubar.css"/>
<link rel="stylesheet" type="text/css" href="stylesheets/trangchu/footer.css"/>
    </head>

    <body>
        <div class="main">
            <img src="images/trangchu/banner_TCQC.png" width="960" height="118" style="margin-bottom:1px;" />
            <%include menubar%>
            <%include secondMenu%>
            <div class="Content">
                <div class="LeftPanel">
                    <!-- Tin tuc su kien -->
                    <div class="LastNews0" style="background-color:#dedede; background-size:400px 280px; ">
                        <div class="container-slide">
                            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                                <ol class="carousel-indicators">
                                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                                    <li data-target="#myCarousel" data-slide-to="1"></li>
                                    <li data-target="#myCarousel" data-slide-to="2"></li>
                                    <li data-target="#myCarousel" data-slide-to="3"></li>
                                    <li data-target="#myCarousel" data-slide-to="4"></li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img src="images/default12345zxc.png" style="width:400px; height:220px" id="imgSlide0">
                                        <h6 class="title" id="h6Slide0"><a href="#" id="aSlide0"></a></h6>
                                    </div>
                                    <% for (var i = 1; i < 5; i++) { -%>
                                    <div class="item">
                                        <img src="images/default12345zxc.png" style="width:400px; height:220px" id="imgSlide<%=i%>">
                                        <h6 class="title" id="h6Slide<%=i%>"><a href="#" id="aSlide<%=i%>"></a></h6>
                                    </div>    
                                    <% } -%>
                                </div>
                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                          <span class="glyphicon glyphicon-chevron-left"></span>
                          <span class="sr-only">Previous</span>
                      </a>
                                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                          <span class="glyphicon glyphicon-chevron-right"></span>
                          <span class="sr-only">Next</span>
                      </a>
                            </div>
                        </div>
                    </div>
                    <div class="LastNews1" id="scroll_box">
                        <p>
                            <% for (var i = 0; i < 5; i++) { -%>
                            <div style="width:300px;height:50px; margin-bottom:5px;">
                                <p id="tomtat<%=i%>">
                                    Hà Nội điều chỉnh tổng thể Quy hoạch chi tiết Khu đô thị Vân Canh
                                </p>
                            </div>    
                            <% } -%>
                        </p>
                    </div>
                    <!-- Thoong tin khoa hocj -->
                    <div class="Notice">
                        <div class="NoticeTitle">
                            <p style="padding-left:10px;"> Thông tin khoa hoc công nghệ </p>
                        </div>
                        <div style="width:700px;height:120px; margin-bottom:15px;">
                            <p>
                                <img src="images/trangchu/iaea1.jpg" style="float:left;width:200px;height:120px; margin-right:10px;">
                                <h2> IAEA Course Offers Internationally Recognized Certification in Industrial Testing</h2> Thirteen experts from across Asia and the Pacific have received certification in the use of nuclear techniques in industrial testing following an IAEA course in Malaysia last month.
                            </p>
                        </div>
                        <div style="width:700px;height:120px; margin-bottom:15px;">
                            <p>
                                <img src="images/trangchu/iaea2.jpg" style="float:left;width:200px;height:120px; margin-right:10px;">
                                <h2>Benin's Environmental, Food Control Labs Join Forces to Track Pollutants and Increase Food Safety </h2> With increased shipping activity along its coast and mining in the region, Beninese authorities are concerned about pollution that could affect the environment and impact the country’s agricultural products.
                            </p>
                        </div>
                        <div style="width:700px;height:120px; margin-bottom:5px;">
                            <p>
                                <img src="images/trangchu/Trienlam.jpg" style="float:left;width:200px;height:1@0px; margin-right:10px;">
                                <h2> Supporting Nuclear Non-Proliferation: Ghana Converts Research Reactor from HEU to LEU Fuel </h2> Ghana has successfully completed the conversion of its only research reactor from the use of high enriched uranium (HEU) fuel to low enriched uranium (LEU) fuel, in an international project supported by the IAEA to help decrease the proliferation risks associated with HEU fuel
                            </p>
                        </div>
                    </div>
                </div>
                <div class="RightPanel">
                    <!-- Thông báo mới -->
                    <div class="NewNotice" id="scroll_box">
                        <div class="NewNoticeTitle">
                            <p style="padding-left:10px;">Thông báo</p>
                        </div>
                        <ul style="list-style-type: square; margin-left:20px;">
                            <li style="padding-bottom:5px;">Thông báo lựa chọn nhà đầu tư chiến lược đốii với Công ty mẹ - Tổng công ty Đầu tư phát triển đô thị và khu công nghiệp Việt Nam (IDICO) khi cổ phần hóa</li>
                            <li style="padding-bottom:5px;">Đăng ký nhu cầu tham gia chương trình đào tạo năm tài khóa 2018 của Nhật Bản</li>
                            <li style="padding-bottom:5px;">Rà soát quy định về điều kiện đầu tư kinh doanh đối với các ngành, nghề đầu tư kinh doanh có điều kiện thuộc lĩnh vực quản lý nhà nước của Bộ Xây dựng</li>
                        </ul>
                    </div>
                    <!-- Tieeu chuan quy chuan moi ban hanh -->
                    <div class="NewStandard">
                        <div class="NewStandardTitle">
                            <p style="padding-left:10px;">Quy chuẩn-Tiêu chuẩn mới</p>
                        </div>
                        <ul style="list-style-type: square; margin-left:20px;">
                            <li style="padding-bottom:5px;">
                                Quy chuẩn kỹ thuật quốc gia về nguyên tắc phân loại, phân cấp công trình dân dụng, công nghiệp và hạ tầng kỹ thuật đô thị
                            </li>
                            <li style="padding-bottom:5px;">
                                Quy chuẩn kỹ thuật quốc gia về các công trình xây dựng sử dụng năng lượng hiệu quả
                            </li>
                            <li style="padding-bottom:5px;">
                                Quy chuẩn kỹ thuật quốc gia về xây dựng và lắp đặt phương tiện quảng cáo ngoài trời
                            </li>
                            <li style="padding-bottom:5px;">
                                Phòng cháy - Dấu hiệu an toàn
                            </li>
                            <li style="padding-bottom:5px;">
                                Thiết bị phòng cháy và chữa cháy.Ký hiệu hình vẽ dùng trên sơ đồ phòng cháy.Yêu cầu kĩ thuật
                            </li>
                        </ul>
                    </div>
                    <div class="Link">
                        <div class="TitleMenu">Liên kết ngoài</div>
                        <form id="form1" name="form1" method="post" action="">
                            <label for="select"></label>
                            <select name="select" size="1" id="select" style="width:236px; height:32px; font-size:14px; " onchange="location=this.value;">
                                <option value="">------Tổ chức rong nước -------</option>
                                <option value=http://moc.gov.vn>Bộ xây dựng </option>
                                <option value=http://most.gov.vn>Bộ khoa học và công nghệ</option>
                            </select>
                        </form>
                        <form id="form2" name="form2" method="post" action="">
                            <label for="select"></label>
                            <select name="select" size="1" id="select" style="width:236px; height:32px; font-size:14px; " onchange="location=this.value;">
                                <option value="">------Tổ chức Quốc tế -------</option>
                                <option value=http://iaea.org>IAEA </option>
                                <option value=http://most.gov.vn>Bo Khoa hoc</option>
                            </select>
                        </form>
                    </div>
                    <div class="Statistics">
                        <p style="padding:5px 0 5px 0">
                            <h3> Lượt truy cập: </h3></p>
                        <p style="padding:5px 0 5px 0">
                            <h3>Đang trực tuyến: </h3></p>
                    </div>
                </div>
            </div>
        </div>
        <%include footer%>
        <script src="/javascripts/trangchu/trangchu.js" type="text/javascript" charset="utf-8"></script>
    </body>

    </html>