<div class="MainMenu ">
    <a href="/" style="float:left;"> <img src="/images/trangchu/home.png" alt="home" width="32" height="32" title="Trang chu"></a>
    <ul class="MenuBar">
        <li style="float:left;"><a href="#" class="MenuBarItem"> GIỚI THIỆU </a>
            <ul>
                <li><a href="/gioithieu/hethongquychuantieuchuan">Hệ thống Quy chuẩn, Tiêu chuẩn </a></li>
                <li><a href="/gioithieu/quychuantieuchuannuocngoai">Quy chuẩn-Tiêu chuẩn nước ngoài</a></li>
                <li><a href="/gioithieu/huongdansudung">Hướng dẫn sử dụng</a></li>
            </ul>
        </li>
        <li style="float:left;" title="Quy chuẩn quốc gia"><a class="MenuBarItem" href="/quychuan/nganhxaydung/xem">QCVN</a>
            <ul>
                <li>
                    <a class="MenuBarItem" href="/quychuan/nganhxaydung/xem">Quy chuẩn ngành xây dựng</a>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Quy chuẩn ngành liên quan</a>
                    <ul style="width:320px" ;>
                        <li><a href="/quychuan/nganh/4/xem">Bộ công thương</a></li>
                        <li><a href="/quychuan/nganh/2/xem">Bộ Khoa học và Công nghệ</a></li>
                        <li><a href="/quychuan/nganh/5/xem">Bộ Tài nguyên và mội trường</a></li>
                        <li><a href="/quychuan/nganh/6/xem">Bộ Giao thông vận tải</a></li>
                        <li><a href="/quychuan/nganh/3/xem">Bộ Nông nghiệp và Phát triển nông thôn</a></li>
                        <li><a href="/quychuan/nganh/7/xem">Cơ quan khác</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li style="float:left;" title="Tiêu chuẩn quốc gia"><a href="/quychuan/nganhxaydung/xem" class="MenuBarItem">TCVN</a>
            <ul>
                <li><a href="/quychuan/nganhxaydung/xem">Nhà ở và công trình công cộng</a>
                    <ul>
                        <li><a href="/quychuan/nganhxaydung/xem">Yêu cầu chung</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn về nhà ở </a></li>
                        <li><a href="/quychuan/nganhxaydung/xem">Công trình công cộng</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem">Hệ thống kỹ thuật trong nhà và công trình</a></li>
                    </ul>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Quy hoạch, kiến trúc</a>
                    <ul>
                        <li><a href="/quychuan/nganhxaydung/xem">Quy hoạch xây dựng</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem">Nhà ở và công trình công cộng</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem">Công trình công nghiệp</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem">Môi trường và phất triển bền vững - tiết kiệm năng lượng</a></li>
                    </ul>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Khảo sát, đo đạc</a>
                    <ul>
                        <li><a href="/quychuan/nganhxaydung/xem">Khảo sát xây dựng</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem">Đo đạc trong xây dựng</a></li>
                    </ul>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Kết cấu xây dựng</a>
                    <ul>
                        <li><a href="/quychuan/nganhxaydung/xem"> Những vấn đề chung</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Tải trọng và tác động</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu bê tông và bê tông cốt thép</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu thép</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu liên hợp</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu gạch đá, khối xây</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu gỗ              </a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu nhôm            </a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu nền và móng </a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Thử nghiệm và đánh giá công trình</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Sửa chữa và bảo vệ công trình</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kết cấu và công trình chuyên ngành</a></li>
                    </ul>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Vật liệu xây dựng</a>
                    <ul>
                        <li><a href="/quychuan/nganhxaydung/xem"> Chất kết dính vô cơ</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Vữa, bê tông</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Vật liệu chịu lửa và cách nhiệt</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Gốm xây dựng và vật liệu ốp, lát</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kính, thủy tinh</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Vật liệu hữu cơ và chế phấm</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Sơn, vật liệu trang trí và hoàn thiện</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Hệ thống cửa</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Sứ vệ sinh và hoàn thiện</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Kim loại xây dựng</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Quản lý chất thải</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Vật liệu cấp thoát nước</a></li>
                    </ul>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Công nghệ xây dựng</a>
                    <ul>
                        <li><a href="/quychuan/nganhxaydung/xem"> Những vấn đề chung</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Tải trọng và tác động lên kết cấu trong quá trình thi công</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Thi công đất, kết cấu nền và móng </a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Thi công kết cấu</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Thi công hoàn thiện</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Thi công các công tác đặc biệt</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Sửa chữa và bảo trì công trình</a></li>
                        <li><a href="/quychuan/nganhxaydung/xem"> Thi công lắp đặt thiết bị trong công trình</a></li>
                    </ul>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Tra cứu</a></li>
            </ul>
        </li>
        <li style="float:left" title="Tiêu chuẩn cơ sở"><a href="/quychuan/nganhxaydung/xem">TCCS</a>
            <ul style="width:150px;">
                <li><a href="/quychuan/nganhxaydung/xem">Đã công bố</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Dự thảo</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Đề xuất mới</a></li>
            </ul>
        </li>
        <li style="float:left;" title="Tiêu chuẩn nước ngoài"><a href="/quychuan/nganhxaydung/xem">TCNN</a>
            <ul>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn ISO</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn Châu Âu</a></li>
                <li>
                    <p style="color:white;">
                        <hr> </p>
                </li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn Mỹ</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn Anh</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn Nhật</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn Trung Quốc</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn Đức</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn Canada </a></li>
            </ul>
        </li>
        <li style="float:left;" title="Dự thảo"><a href="/quychuan/nganhxaydung/xem">DỰ THẢO</a>
            <ul style="width:200px;">
                <li><a href="/quychuan/nganhxaydung/xem">Quy chuẩn</p></a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Tiêu chuẩn</a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Kế hoạch ban hành</a></li>
            </ul>
        </li>
        <li style="float:left;" title="Văn bản quy phạm pháp luật"><a href="/quychuan/nganhxaydung/xem">VBQPPL</a>
            <ul style="width:160px;">
                <li><a href="html/Vbqppl.html">Văn bản luật  </a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Nghị định           </a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Thông tư            </a></li>
                <li><a href="/quychuan/nganhxaydung/xem">Quyết định          </a></li>
            </ul>
        </li>
        <li style="float:left;" title="Tra cứu văn bản"><a href="/quychuan/nganhxaydung/xem">TRA CỨU</a>
        </li>
        <li style="float:right; padding-right:0px;"><a href="index_EN.html"> <img src="/images/trangchu/EN.png" width="24" height="18"/> </a> </li>
    </ul>
</div>