<div class="MainMenu ">
    <a href="/" style="float:left;"> <img src="/images/trangchu/home.png" alt="home" width="32" height="32" title="Trang chu"></a>
    <ul class="MenuBar">
        <li style="float:left;"><a href="#" class="MenuBarItem"> GIỚI THIỆU </a>
            <ul>
                <li><a href="/">Hệ thống Quy chuẩn, Tiêu chuẩn </a></li>
                <li><a href="#">Quy chuẩn-Tiêu chuẩn nước ngoài</a></li>
                <li><a href="html/HuongDan.html">Hướng dẫn sử dụng</a></li>
            </ul>
        </li>
        <li style="float:left;" title="Quy chuẩn quốc gia"><a class="MenuBarItem" href="#">QCVN</a>
            <ul>
                <li>
                    <a class="MenuBarItem" href="html/TuNhien.html">Quy chuẩn ngành xây dựng</a>
                </li>
                <li><a href="#">Quy chuẩn ngành liên quan</a>
                    <ul style="width:320px" ;>
                        <li><a href="#">Bộ công thương</a></li>
                        <li><a href="#">Bộ Khoa học và Công nghệ</a></li>
                        <li><a href="#">Bộ Tài nguyên và mội trường</a></li>
                        <li><a href="#">Bộ Giao thông vận tải</a></li>
                        <li><a href="#">Bộ Nông nghiệp và Phát triển nông thôn</a></li>
                        <li><a href="#">Cơ quan khác</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li style="float:left;" title="Tiêu chuẩn quốc gia"><a href="#" class="MenuBarItem">TCVN</a>
            <ul>
                <li><a href="#">Nhà ở và công trình công cộng</a>
                    <ul>
                        <li><a href="#">Yêu cầu chung</a></li>
                        <li><a href="#">Tiêu chuẩn về nhà ở </a></li>
                        <li><a href="#">Công trình công cộng</a></li>
                        <li><a href="#">Hệ thống kỹ thuật trong nhà và công trình</a></li>
                    </ul>
                </li>
                <li><a href="#">Quy hoạch, kiến trúc</a>
                    <ul>
                        <li><a href="#">Quy hoạch xây dựng</a></li>
                        <li><a href="#">Nhà ở và công trình công cộng</a></li>
                        <li><a href="#">Công trình công nghiệp</a></li>
                        <li><a href="#">Môi trường và phất triển bền vững - tiết kiệm năng lượng</a></li>
                    </ul>
                </li>
                <li><a href="#">Khảo sát, đo đạc</a>
                    <ul>
                        <li><a href="#">Khảo sát xây dựng</a></li>
                        <li><a href="#">Đo đạc trong xây dựng</a></li>
                    </ul>
                </li>
                <li><a href="#">Kết cấu xây dựng</a>
                    <ul>
                        <li><a href="#"> Những vấn đề chung</a></li>
                        <li><a href="#"> Tải trọng và tác động</a></li>
                        <li><a href="#"> Kết cấu bê tông và bê tông cốt thép</a></li>
                        <li><a href="#"> Kết cấu thép</a></li>
                        <li><a href="#"> Kết cấu liên hợp</a></li>
                        <li><a href="#"> Kết cấu gạch đá, khối xây</a></li>
                        <li><a href="#"> Kết cấu gỗ              </a></li>
                        <li><a href="#"> Kết cấu nhôm            </a></li>
                        <li><a href="#"> Kết cấu nền và móng </a></li>
                        <li><a href="#"> Thử nghiệm và đánh giá công trình</a></li>
                        <li><a href="#"> Sửa chữa và bảo vệ công trình</a></li>
                        <li><a href="#"> Kết cấu và công trình chuyên ngành</a></li>
                    </ul>
                </li>
                <li><a href="#">Vật liệu xây dựng</a>
                    <ul>
                        <li><a href="#"> Chất kết dính vô cơ</a></li>
                        <li><a href="#"> Vữa, bê tông</a></li>
                        <li><a href="#"> Vật liệu chịu lửa và cách nhiệt</a></li>
                        <li><a href="#"> Gốm xây dựng và vật liệu ốp, lát</a></li>
                        <li><a href="#"> Kính, thủy tinh</a></li>
                        <li><a href="#"> Vật liệu hữu cơ và chế phấm</a></li>
                        <li><a href="#"> Sơn, vật liệu trang trí và hoàn thiện</a></li>
                        <li><a href="#"> Hệ thống cửa</a></li>
                        <li><a href="#"> Sứ vệ sinh và hoàn thiện</a></li>
                        <li><a href="#"> Kim loại xây dựng</a></li>
                        <li><a href="#"> Quản lý chất thải</a></li>
                        <li><a href="#"> Vật liệu cấp thoát nước</a></li>
                    </ul>
                </li>
                <li><a href="#">Công nghệ xây dựng</a>
                    <ul>
                        <li><a href="#"> Những vấn đề chung</a></li>
                        <li><a href="#"> Tải trọng và tác động lên kết cấu trong quá trình thi công</a></li>
                        <li><a href="#"> Thi công đất, kết cấu nền và móng </a></li>
                        <li><a href="#"> Thi công kết cấu</a></li>
                        <li><a href="#"> Thi công hoàn thiện</a></li>
                        <li><a href="#"> Thi công các công tác đặc biệt</a></li>
                        <li><a href="#"> Sửa chữa và bảo trì công trình</a></li>
                        <li><a href="#"> Thi công lắp đặt thiết bị trong công trình</a></li>
                    </ul>
                </li>
                <li><a href="#">Tra cứu</a></li>
            </ul>
        </li>
        <li style="float:left" title="Tiêu chuẩn cơ sở"><a href="#">TCCS</a>
            <ul style="width:150px;">
                <li><a href="#">Đã công bố</a></li>
                <li><a href="#">Dự thảo</a></li>
                <li><a href="#">Đề xuất mới</a></li>
            </ul>
        </li>
        <li style="float:left;" title="Tiêu chuẩn nước ngoài"><a href="#">TCNN</a>
            <ul>
                <li><a href="#">Tiêu chuẩn ISO</a></li>
                <li><a href="#">Tiêu chuẩn Châu Âu</a></li>
                <li>
                    <p style="color:white;">
                        <hr> </p>
                </li>
                <li><a href="#">Tiêu chuẩn Mỹ</a></li>
                <li><a href="#">Tiêu chuẩn Anh</a></li>
                <li><a href="#">Tiêu chuẩn Nhật</a></li>
                <li><a href="#">Tiêu chuẩn Trung Quốc</a></li>
                <li><a href="#">Tiêu chuẩn Đức</a></li>
                <li><a href="#">Tiêu chuẩn Canada </a></li>
            </ul>
        </li>
        <li style="float:left;" title="Dự thảo"><a href="#">DỰ THẢO</a>
            <ul style="width:200px;">
                <li><a href="#">Quy chuẩn</p></a></li>
                <li><a href="#">Tiêu chuẩn</a></li>
                <li><a href="#">Kế hoạch ban hành</a></li>
            </ul>
        </li>
        <li style="float:left;" title="Văn bản quy phạm pháp luật"><a href="#">VBQPPL</a>
            <ul style="width:160px;">
                <li><a href="html/Vbqppl.html">Văn bản luật  </a></li>
                <li><a href="#">Nghị định           </a></li>
                <li><a href="#">Thông tư            </a></li>
                <li><a href="#">Quyết định          </a></li>
            </ul>
        </li>
        <li style="float:left;" title="Tra cứu văn bản"><a href="#">TRA CỨU</a>
        </li>
        <li style="float:right; padding-right:0px;"><a href="index_EN.html"> <img src="/images/trangchu/EN.png" width="24" height="18"/> </a> </li>
    </ul>
</div>