<div class="SecondMenu">
    <ul>
        <li style="float:left; "><img src="/images/trangchu/lich.gif" width="25" height="18" style="padding-left:6px; padding-right:2px" /> </li>
        <li style="float:left; ">
            <p style="font-size:14px; padding-top:2px;" id="timeNow">
               
            </p>
        </li>
        <%if(usr==null){ %>
            <li style="float:right;"><a href="/dangnhap"> Đăng nhập</a></li>
        <%}else{%>
            <li style="float:right;"><a href="/admin">Chào <%=usr.user.tendaydu%> </a></li>
            <li style="float:right;">|</li>
            <li style="float:right;"><a href="/dangxuat"> Đăng xuất</a></li>
        <%}%>
        <li style="float:right;">|</li>
        <li style="float:right;"><a href="/sodo"> Sơ đồ</a></li>
    </ul>
</div>