<div class="row" style="display:none; background-color:#d9edf7;width:960px;margin-left:1px" id="form_tra_cuu">
	<div class="col-md-2"></div>
	<div class="col-md-8" style="color:black; height:300px;">
		<h2 style="text-align:center">Tra Cứu</h2>
            </br>
            <form id="" action="" method="post">
                <div class="row" style="padding-left:25px">
                    <div class="col-md-6">
                        <label>Tiêu đề 1</label>
                        <span class="invalid-feedback" style="color:red">
                            *Lựa chọn   
                        </span>
                    	</br>
                        <select name="" style="width:250px">
                        	<option value="">Tất cả</option>
                        	<option value="">Lựa chọn 1</option>
                        	<option value="">Lựa chọn 2</option>
                        	<option value="">Lựa chọn 3</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom01">Tiêu đề 2</label>
                        <span class="invalid-feedback" style="color:red">
                            *Lựa chọn   
                        </span>
                    	</br>
                        <select name="" style="width:250px">
                        	<option value="">Tất cả</option>
                        	<option value="">Lựa chọn 1</option>
                        	<option value="">Lựa chọn 2</option>
                        	<option value="">Lựa chọn 3</option>
                        </select>
                    </div>
                </div>
                </br>
                <div class="row" style="padding-left:25px">
                    <div class="col-md-6">
                        <label for="validationCustom01">Tiêu đề 3</label>
                        <span class="invalid-feedback" style="color:red">
                            *Lựa chọn   
                        </span>
                    	</br>
                        <select name="" style="width:250px">
                        	<option value="">Tất cả</option>
                        	<option value="">Lựa chọn 1</option>
                        	<option value="">Lựa chọn 2</option>
                        	<option value="">Lựa chọn 3</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                    	<label>Từ khóa</label>
                        <span class="invalid-feedback" style="color:red">
                            *Không bỏ trống   
                        </span>
                    	</br>
                    	<input type="text" name="" style="width:250px">
                    	</br></br>
                    	<button class="btn btn-primary" type="submit">Tìm</button>
                    </div>
                </div>
            </form>
    </div>
    <div class="col-md-2"></div>
</div>