<div class="row" style="display:none; background-color:#d9edf7;width:960px;margin-left:1px" id="form_tra_cuu">
	<div class="col-md-2"></div>
	<div class="col-md-8" style="color:black; height:300px;">
		<h2 style="text-align:center">Tra Cứu</h2>
            </br>
            <form method="post" accept-charset="utf-8" enctype="application/x-www-form-urlencoded" class="form-horizontal">
                <div class="row" style="padding-left:25px">
                    <div class="col-md-6">
                        <label>Tiêu đề 1</label>
                        <span class="invalid-feedback" style="color:red">
                            Quy chuẩn / Tiêu chuẩn   
                        </span>
                    	</br>
                        <select name="vanban" style="width:250px">
                        	<option value="quychuan">Quy chuẩn</option>
                        	<option value="tieuchuan">Tiêu chuẩn</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>Từ khóa</label>
                        <span class="invalid-feedback" style="color:red">
                            *Không bỏ trống   
                        </span>
                        </br>
                        <input type="text" name="key" style="width:250px">
                    </div>
                </div>
                </br>
                <div class="row" style="padding-left:25px">
                    <div class="col-md-6">
                        <label for="validationCustom01">Ngày ban hành</label>
                        <span class="invalid-feedback" style="color:red">
                            Từ ngày  
                        </span>
                        </br>
                        <input type="date" class="form-control" name="tungay">
                    </div>
                    <div class="col-md-6">
                        <label for="validationCustom01">Ngày ban hành</label>
                        <span class="invalid-feedback" style="color:red">
                            Đến ngày   
                        </span>
                        </br>
                        <input  type="date" class="form-control" name="denngay">
                        </br></br>
                        <button class="btn btn-primary" type="submit" disabled id="btnTim">Tìm</button>
                    </div>
                </div>
            </form>
    </div>
    <div class="col-md-2"></div>
</div>